
.gridAdd > input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.08);
}
.addInput{
    width: 100%;
}
.tips{
    font-size: 12px;
    color: #666;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
}
.labels{
    margin: 12px 0 6px 0;
    font-size: 12px;
    color: #666;
}